
<div ng-controller="Pages as p" class="container">
  <div class="container" ng-repeat="page in p.pages">

        <div class="flipcard">
          <div class="front">
            <div>
              <h3 ng-bind-html="page.title['rendered']"></h3>
            </div>

          </div>
          <div class="back">
            <div>
              <div ng-bind-html="page.excerpt.rendered"></div>
              <a ng-href="pages/{{page.id}}" ng-bind-html="page.title['rendered']"></a>
            </div>
          </div>
        </div>
  </div>
</div>
