
<div ng-controller="Posts as p" class="container">
  <!-- see http://stackoverflow.com/questions/20137496/angular-js-ng-repeat-for-creating-grid -->
 <!-- groupBy -->

  <div ng-repeat="post in p.posts" ng-if="$index % 3 == 0" class="row">

    <div class="col-xs-4">
      <div>
          <a ng-href="{{p.posts[$index].id}}" ng-bind-html="p.posts[$index].title['rendered']" animate="bounce" delay="0.{{2* $index}}s"></a>
      </div>
      <div animate="zoomInLeft" delay="0.{{2* $index}}s">
          <div ng-bind-html="p.posts[$index].excerpt.rendered"></div>
      </div>
    </div>
    <div class="col-xs-4">
      <div ng-if="p.posts[$index]">
        <div>
            <a ng-href="{{p.posts[$index + 1].id}}" ng-bind-html="p.posts[$index + 1].title['rendered']" animate="bounce" delay="0.{{2* ($index + 1)}}s"></a>
        </div>
        <div animate="zoomInLeft" delay="0.{{2* ($index+1)}}s">
            <div ng-bind-html="p.posts[$index + 1].excerpt.rendered"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">

      <div>
          <a ng-href="{{p.posts[$index + 2].id}}" ng-bind-html="p.posts[$index + 2].title['rendered']" animate="bounce" delay="0.{{2* ($index + 2)}}s"></a>
      </div>
      <div animate="zoomInLeft" delay="0.{{2* ($index+2)}}s">
          <div ng-bind-html="p.posts[$index + 2].excerpt.rendered"></div>
          <!--<code>{{p.posts[$index + 2]}}</code>-->
      </div>
    </div>
  </div>

    <!--
            <div>Created: {{post.date | date:'medium' }}</div>
          <div>Modified: {{post.modified | date: 'medium'}}</div>
          <div>Title rendered as trusted: <h3 ng-bind="post.title['rendered']"></h3></div>
          <div>Slug: {{post.slug}}</div>
          <div>Type: {{post.type}}</div>
          <div></div>



          <div>Featured Image: {{post.featured_image}}</div>
          <div>Comment: {{post.comment_status}}</div>
          <div>Ping Status: {{post.ping_status}}</div>
          <div>Sticky: {{post.sticky}}</div>
          <div>Format: {{post.format}}</div>

  -->
</div>
