<div id="{{id}}" class="container-fluid section {{color}}">
    <div class="row">
      <div class="col-xs-4">
          <div class="circle" animate="fadeInLeft" delay="0.1s">
              <div>Section in directive me</div>
          </div>
      </div>
      <div class="col-xs-4">
        <div class="circle" animate="fadeInUp" delay="0.2s">
            <div>Skills</div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="circle" animate="fadeInRight" delay="0.3s">
            <div>Services</div>
        </div>
      </div>
    </div>
</div>
